name: "Static Analysis PR Scan"

on: 
  schedule:
    - cron: '*, 10, *, *, *'

jobs:
  static_analysis:
    uses: tinyspeck/snow/.github/workflows/daily_scan.yaml@v1
    secrets:       
      SNOW_ALERT_WEBHOOK: ${{ secrets.SNOW_ALERT_WEBHOOK }}
      CHECKPOINT_TOKEN: ${{ secrets.CHECKPOINT_TOKEN }}
      SNOW_AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      SNOW_AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
