name: "Static Analysis PR Scan"

on: [push, pull_request]

jobs:
  static_analysis:
    uses: tinyspeck/snow/.github/workflows/github_action.yaml@dry-github-actions
    secrets:       
      SNOW_ALERT_WEBHOOK: ${{ secrets.SNOW_ALERT_WEBHOOK }}
      CHECKPOINT_TOKEN: ${{ secrets.CHECKPOINT_TOKEN }}
      TEST: ${{ secrets.TEST }}
