name: "static analysis"

on: workflow_call

jobs:
  scan-with-semgrep:
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Clone snow code
        uses: actions/checkout@v2
        with:
          repository: 'tinyspeck/snow'
          path: snow
          fetch-depth: 0

      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}
          path: snow/repositories
          fetch-depth: 0

      - name: Install python3
        uses: actions/setup-python@v2
        with:
          python-version: 3.5.10

      - name: install requirements
        run: |
          cd snow
          python3 -m pip install -r requirements.txt

      - name: Run semgrep
        run: |
          cd snow
          python3 run_semgrep.py -m pr -g ts -r ${{ github.event.repository.name }}
