name: "Static Analysis PR Scan"

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize ]

jobs:
  static_analysis:
    uses: tinyspeck/snow/.github/workflows/pr_scan.yaml@master_copy
    secrets:       
      SNOW_ALERT_WEBHOOK: ${{ secrets.SNOW_ALERT_WEBHOOK }}
      CHECKPOINT_TOKEN: ${{ secrets.CHECKPOINT_TOKEN }}
      SNOW_AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      SNOW_AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
